.header {
    background-color: #343A40;
    padding-bottom: 50px;
}

.principal-title {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 75px;
    color: cornsilk;
}

.secondary-header {
    display: flex;
}

/* BOARD */
.notes-board {
    background-color: #EEB76B;
    background-color: #F2A154;
    border: solid 25px #252525;
    border-radius: 30px
}

.notes-grid {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 40px;
}

.note-card {
    width: 350px;
    height: 350px;
}

.note-header {
    display: flex;
    justify-content: space-between;
}

.title-note {
    font-size: 30px;
}

.date-note {
    text-align: end;
    font-size: 15px;
}